.plaqueImg{
  background-image: url('../../images/plaque.jpg');
  position: fixed;
  background-position: center; 
  height: 100vh;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
}

p {
  text-indent: 30pt;
  overflow: hidden;
  flex-wrap: wrap;
  word-wrap: normal;
  font-size: 20px;
}

.donateImg{
  height: 20em;
  padding: 1em;
 
}

.erikaImg{
  height: 30em;
  background-position: center;
  word-wrap: break-word;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
}

.sponsorImg {
  height: 50em;
  padding: 1em;
}