.plaqueImg{
  background-position: center; 
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 3em;

}
.gladeImg{
  background-position: center; 
 max-width: 100%;
  overflow: hidden;
}

p {
  text-indent: 30pt;
  overflow: hidden;
  flex-wrap: wrap;
  word-wrap: normal;
  font-size: 20px;
}

.donateImg{
  height: 20em;
  padding: 1em;
 
}

.erikaImg{
  height: 30em;
  background-position: center;
  word-wrap: break-word;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  margin: auto;

}

.sponsorImg {
  height: 50em;
  padding: 1em;
}