.backgroundImage {
  background-color: black;
  color: white;
  font-family: 'Mansalva', cursive;
}

.logoStyle {
  height: 90px
}



.navTag{
  color: black;
  background-color: rgb(201, 252, 158)!important;
  text-decoration: none;
  font-family:  'Mansalva', cursive!important;
  font-size:25px!important;

}
.navTag:hover{
  color: rgb(94, 139, 235);
  text-decoration: none;
  font-family:  'Mansalva', cursive!important;
  font-weight: bolder;
}

.headerButtons{
  color: white;
  font-family: 'Mansalva', cursive;
  font-size: 25px;
  margin-right: 1em;
  text-decoration: none;
}

.menuButtons{
  font-family: 'Mansalva', cursive!important;
  font-size: 25px!important;
}