.backgroundImage {
  background-color: black;
  color: white;
  font-family: 'Mansalva', cursive;
}

.logoStyle {
  height: 90px
}

.donateTag{
  color:white;
  text-decoration: none;
  font-size:25px;
}

.headerButtons{
  color: white;
  font-family: 'Mansalva', cursive;
  font-size: 25px;
  margin-right: 1em;
  text-decoration: none;
}

.menuButtons{
  font-family: 'Mansalva', cursive!important;
  font-size: 25px!important;
}