.homePageBackground{
  background-image: url('../../images/cover.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  overflow: hidden;
}

.paragraphColor{
  color: white;
  line-height: 1.6;
  font-family: 'Mansalva', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.linksFont{
  color: white;
  line-height: 1.6;
  font-family: 'Mansalva', cursive;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}