.homePageBackground{
  background-image: url('../../images/cover.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.titleColor{
  color:white;
  line-height: 1;
  font-family: 'Mansalva', cursive;
  font-size: 45px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.linksFont{
  line-height: .2;
  border-color: white;
  font-family: 'Mansalva', cursive;
  text-align: center;
  font-size: 25px;
  margin: 0;
  position: fixed;
  top: 70vh;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}